@CHARSET "ISO-8859-1";
body{
	background-image: url(../assets/images/Medieval2.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	font-family: "Bell Mt", Times, serif;
}
h1{
	color: #000000;
	text-align: center; 
	font-size: 55px;
	margin: auto; 
	width: 400px; 
	margin-top: 50px;
}
h2{
	font-size: 45px; 
	margin: auto;
	width: 800px; 
	margin-top: 70px; 
	text-align: center; 
}
a, p{
	padding: 25px;
	margin: 10px; 
	color: #000000;
	text-decoration: none;
	border: 5px solid #006155;
	border-image: url(../assets/images/border.png);
    border-image-slice: 30;
    border-image-repeat: repeat; 
	display: inline-block;
	font-size: 25px; 
	width: 200px; 
	text-align: center; 
	font-weight: bold; 
}
label{
	font-face: "Arial", Arial, serif;
	font-size: 25px;
	border-image: url(../assets/images/BordersKeuze.png);
    border-image-slice: 52;
    border-image-repeat: repeat; 
    margin-right: 25px; 
}
a:hover{
	background-image: url("../assets/images/HoverImages1.png"); 
	background-size: 100%;
	color: #FFFFFF;
}
div{
	margin: auto;
	margin-top: 20px;  
	width: 600px; 
}