@CHARSET "ISO-8859-1";
body{
	background-image: url(../assets/Medieval2.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	font-family: "Bell Mt", Times, serif;
}
h1{
	color: #000000;
	font-family: "Bell Mt", Times, serif;
	font-size: 55px;
	margin: auto; 
	width: 400px; 
	margin-top: 50px;
}
a{
	padding: 25px;
	margin: 10px; 
	color: #000000;
	text-decoration: none;
	border: 5px solid #006155;
	border-image: url(../assets/border.png);
    border-image-slice: 30;
    border-image-repeat: repeat; 
	display: inline-block;
	font-size: 25px; 
	width: 200px; 
	text-align: center; 
	
	
	
	
}
div{
	margin: auto;
	margin-top: 20px;  
	 
	width: 600px; 
	 
}