body{
    background-image: url(../../images/unnamed.jpg);
    background-repeat: no-repeat;

    height: 100%;
} #bigcard{
    position: fixed;
    top: 0px;
    right: 0px;
    height: 53%;
}
footer{

    position: fixed;
    left:25%;
    bottom: 0px;

}
#buyaction{
    width: 800px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.card{
    height: 200px;
    width: 126px;
    margin-left: 10px;
    float: left;
    margin-top: 10px;
}
#sidefooter{
position: fixed;
    right: 0px
}
aside{
    width:90px;
    float: left;
}
aside .card{
    width: 80px;
    height: auto;
}
#discard img{
    width:90px;
    float: left;
}
#discard{
    position:fixed;
    left:0px;
    bottom:0px;
}
